.carousel-height img{
    height: 35rem !important;
    object-fit: cover;
}

.home-body{
    overflow-x: hidden;
    text-align: center !;
    font-family: 'Baloo Da 2';
}
.home-menu-btn{
    text-decoration: none !important;
    color: black;
    background-color: white;
    padding:1rem;
    width: 25%;
    box-shadow: aliceblue 6px 6px 6px;  
    border: 1px solid #FFD344;
    background-color: #FFD344;
    margin-left: 38%;
    margin-top: 3%;
}
