.menu-title{
    height: 15rem;
    background-color: #005062;
}
.title-image{
    height: 12rem;
    margin-top: 12px;
}
.menu-title-head{
    font-family: 'Baloo Da 2';
    color: white;
    padding-left: 20%;
    margin-top: 5%;
}
.menu-title-sub-head{
    font-family: 'Baloo Da 2';
    color: white;
    padding-left: 20%;
}
.food-card-box{
    margin-left: 10% !important;
}
.food-menu-page{
    overflow-x: hidden;
    font-family: 'Baloo Da 2';
}
.searchBar{
    margin-top: 4%;
    margin-left: 11% !important;
    border: 1px solid #FFD344;
    width: 30%;
    box-shadow: aliceblue 6px 6px 6px;
}

.searchInput{
    width: 80%;
    height: 3rem;
    text-indent: 1%;
    border: none;
}
.searchInput::placeholder{
    padding-left: 1%;
    color: #000000;
}

.searchBtn{
    border: none;
    background-color: transparent;
    width: 10%;
}
.searchIcon{
    color: #FFD344;
}
.filter-bar{
    font-family: 'Baloo Da 2';
    margin-top: 4%;
    margin-left: 10%;
    border: 1px solid #FFD344;
    width: 30%;
    box-shadow: aliceblue 6px 6px 6px;
    height: 3rem;
}
.filterItem{
    width: 100%;
    height: 100%;
    border: none;
}