.food-card{
    border-radius: 10px;
    box-shadow: aliceblue 6px 6px 6px;
    text-align: center;
    font-family: "Baloo Da 2";
    margin-left: 4%;
    margin-top: 3%;
}

.food-card-name .food-card-subtitle{
    font-family: "Baloo Da 2";
}

.food-card-price{
    font-weight: 700;
}
.food-card-rating{
    font-weight: 700;
}
.food-card-type{
    font-weight: 700;
}
.minus-btn{
    margin-left: 20%;
    background-color: white !important;
    color: #088BE2 !important;
    height: fit-content;
    margin-right: 30px !important;
    border-radius: 10rem !important;
    border: 2px solid #088BE2 !important;
}
.plus-btn{
    background-color: white !important;
    height: fit-content;
    margin-left: 30px !important;
    color: #088BE2 !important;
    border-radius: 10rem !important;
    border: 2px solid #088BE2 !important;
}
.food-card-quantity{
    font-weight: 600;
}
