.navbar-brand{
    font-family: 'Dancing Script';
    font-weight: 600;
    font-size: 40px !important;
    padding-left: 15%;
}
.nav{
    font-family: 'Baloo Da 2';
    color:#000000 !important;
    margin-left: 20px;
    margin-top: 6px;
}
.navbar{
    background-color: #ffd344;
}
.justify-content-end{
    padding-right: 20%;
}
.logout-btn{
    background-color: #FFD344!important;
    border:none !important;
    font-family: 'Baloo Da 2';
    color:#000000 !important;
    margin-left: 20px;
}
.cart-icon{
    color: black;
    margin-left: 30px;
}